* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  display: flex;
  justify-content: center;
  background-color: #0d1a2d;
  font-family: "Outfit", sans-serif;
}
main {
  width: 24rem;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 0.8rem;
  background: linear-gradient(to top, #141e30, #243b55);
  color: white;
  box-shadow: 0 0 2.5rem hsl(0, 0%, 0%);
}
h1 {
  font-size: 1.45rem;
  margin: 1.25rem 0;
}
h1:hover {
  color: #83f4eb;
  cursor: pointer;
}
.etherium-detail {
  line-height: 1.5;
  color: hsl(215, 51%, 70%);
}
.creation-of {
  color: hsl(215, 51%, 70%);
}
.equilibrium-img {
  position: relative;
  width: 336px;
  height: 336px;
  /* position: relative; */
  background-image: url("./images/image-equilibrium.jpg");
  background-size: cover;
  border-radius: 1rem;
}

.eye-icon {
  display: none;
}

.equilibrium-img:hover {
  fill: white;
  stroke-width: 1rem;
  background-image: linear-gradient(
      rgb(88, 174, 195, 0.9),
      rgba(71, 141, 153, 0.75)
    ),
    url("./images/image-equilibrium.jpg");
  cursor: pointer;
}
.equilibrium-img:hover .eye-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
}
.price-of-equilibrium {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  margin-bottom: 1.75rem;
}
.price-of-equilibrium p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.price-of-equilibrium p:nth-child(1) {
  color: cyan;
  font-weight: bold;
}
.price-of-equilibrium p:nth-child(2) {
  color: hsl(215, 51%, 70%);
}
.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 1.5rem;
}
.author img {
  width: 2.25rem;
}
.author p {
  font-size: 1.15rem;
}
.author-name:hover {
  color: #83f4eb;
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 600px) {
  main {
    width: 20rem;
    padding: 1rem;
  }
  .equilibrium-img {
    width: 280px;
    height: 280px;
    background-image: url("./images/image-equilibrium.jpg");
    background-size: cover;
    background-position-x: -1px;
  }
}
